@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IvyBodoni';
  src: url('/fonts/IvyBodoni-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@layer components {
  .sobre {
    margin-top: calc(-100% * var(--aire, 84) / var(--ancho, 1232));
  }

  .una-pantalla {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
  }
}
